.showArrowComeBackEffect {
    animation-name:showArrowComeBackEffectAnimation;
    animation-duration:1s;
    animation-fill-mode:forwards;
}

@keyframes showArrowComeBackEffectAnimation {
    from {
        transform:translateY(-1000%);
    }

    to {
        transform:translateY(-0%);
    }
}

.hiddenArrowComeBackEffect {
    animation-name:hiddenArrowComeBackEffectAnimation;
    animation-duration:1s;
    animation-delay:0s;
}

@keyframes hiddenArrowComeBackEffectAnimation {
    from {
        transform:translateY(-0%);
    }

    to {
        transform:translateY(-1000%);
    }
}

.titleFirstEffect {
    animation-name:titleFirstEffectAnimation;
    animation-duration:0.8s;
    animation-fill-mode:forwards;
}

@keyframes titleFirstEffectAnimation {
    from {
        transform:translateY(-250%);
    }

    to {
        transform:translateY(0%);
    }
}

.characterContainerFirstEffect {
    animation-name:characterContainerFirstEffectAnimation;
    animation-duration:1s;
    animation-fill-mode:forwards;
}

@keyframes characterContainerFirstEffectAnimation {
    from {
        transform:translateX(150%);
    }

    to {
        transform:translateX(0%);
    }
}

.arrowFirstEffect {
    animation-name:arrowFirstEffectAnimation;
    animation-duration:1s;
    animation-fill-mode:forwards;
}

@keyframes arrowFirstEffectAnimation {
    from {
        transform:translateX(-1500%);
    }

    to {
        transform:translateX(0%);
    }
}

.goToAddCharacterHeader {
    animation-name:goToAddCharacterHeaderAnimation;
    animation-duration:0.6s;
    animation-fill-mode:forwards;
}

@keyframes goToAddCharacterHeaderAnimation {
    from {
        transform:translateX(0%);
    }
    to {
        transform:translateX(-120%);
    }
}

.goToAddCharacterMain {
    animation-name:goToAddCharacterMainAnimation;
    animation-duration:0.6s;
    animation-fill-mode:forwards;
}

@keyframes goToAddCharacterMainAnimation {
    from {
        transform:translateX(0%);
    }
    to {
        transform:translateX(120%);
    }
}