main .menuContainer {
    grid-column:1/2;
    grid-row:1/4;
    z-index:1;
    
    margin-right:10px;

    transition-property:"translateX";
    transition-duration:0.2s;

    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:flex-start;
}

main .menuContainer ul {
    background-color:#e74c3c;

    position:relative;
    width:100%;
    height:100%;

    border-radius:10px;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;

    display:flex;
    flex-direction:column;
}

main .menuContainer ul li {
    padding:0px;
}

.menuContainer ul li:first-child {
    padding-top:20px;
}

.menuContainer ul li:nth-child(2) {
    padding-bottom:15px;
}

.menuContainer ul li:last-child {
    padding-bottom:15px;
}

.menuContainer ul li {
    width:100%;
    min-height:80px;

    padding:0px;

    cursor:pointer;
    font-size:16px;
    color:#f1f1f1;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.menuContainer ul li i {
    font-size:1.8em;

    transition-property:"transform";
    transition-duration:0.5s;
}

.menuContainer ul li:hover i {
    transform:scale(1.4);
}

.menuContainer ul li.comeBackMenu {
    position:absolute;
    bottom:0px;
}

@media(max-width:1025px) {
    main .menuContainer {
        margin-right:0px;

        position:fixed;
        bottom:0px;
        left:0px;

        width:100%;
        height:90px;

        z-index:3;
    }

    .menuContainer ul {
        border-radius:0px !important;

        display:flex !important;
        flex-direction:row !important;
    }

    .menuContainer ul li {
        padding:0px !important;
        width:100vw;
        min-height:0px;
    }

    .menuContainer ul li.comeBackMenu {
        position:relative;
    }

    main .arrow {
        display:none;
    }

    /* --- hidden menu effect --- */
    main .menuContainer,  {
        transform:translateX(0px) !important;
    }

    main .menuContainer ul {
        transform:rotateY(0deg) !important;
    }

    main.hiddenMenu .menuContainer {
        transform:translateX(0px) !important;
    }
}

@media(max-width:560px) {
    main .menuContainer {
        height:70px;
    }
}