@import url('./animation.css');
@import url('./from.css');

@font-face {
    font-family:"superSmash";
    src: url('../font/super_smash_4_1_by_pokemon_diamond-d7zxu6d.ttf');
}

ul {
    list-style:none;
    margin:0px;
    padding:0px;
}

a {
    text-decoration:none;
}

.hidden {
    display:none;
}

body {
    background-color:#f1f1f1;
    overflow-x:hidden;
}

#formContainer {
    position:absolute;
    top:0px;

    width:100%;
    height:100vh;

    font-size:16px;

    display:grid;
    grid-template-columns:5% auto 5%;
    grid-template-rows:5% 100px auto 100px;
}